doctype html
html
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      block title
        title title
      meta(name='description', content= '')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      block stylesheets
        link(href='css/main.css', rel='stylesheet')
    body
        .owl-carousel.owl-theme
            .item
                h4 1
            .item
                h4 2
            .item
                h4 3
            .item
                h4 4
            .item
                h4 5
            .item
                h4 6
            .item
                h4 7
            .item
                h4 8
            .item
                h4 9
            .item
                h4 10
            .item
                h4 11
        script(src='js/main.js')


