
doctype html

<!--[if lte IE 11]>
<html class='lt-ie ie-fallback no-js' lang='ru'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='ru'>
<!--<![endif]-->

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  block title
    title title
  meta(name='description', content= '')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(href='css/main.css', rel='stylesheet')

body
    .owl-carousel.owl-theme
        .item
            h4 1
        .item
            h4 2
        .item
            h4 3
        .item
            h4 4
        .item
            h4 5
        .item
            h4 6
        .item
            h4 7
        .item
            h4 8
        .item
            h4 9
        .item
            h4 10
        .item
            h4 11

    form
        p
            | Specify a Phone Number:
            input#phoneNumber(name='phoneNumber', size='25', type='text')
        p
            | Specify a Default Country:
            input#defaultCountry(name='defaultCountry', size='2', type='text')
            |   (CLDR two-letter region code)
        p
            | Specify a Carrier Code:
            input#carrierCode(name='carrierCode', size='2', type='text')
            |   (optional, only valid for some countries)
        input(value='Submit', onclick='return phoneNumberParser();', type='submit')
        input(value='Reset', type='reset')
        p
            textarea#output(rows='30', cols='80')

    section.wow.slideInUp(data-wow-offset='10', data-wow-iteration='10') wowowowww
    script(src='js/main.js')


