/*mixin**/
$portret-phones-sm: 930.98px;
$portret-phones: 991.98px;
$portret-phones-lg: 959.98px;
$landscape-phones: 767.98px;
$mobile-phones: 570.98px;
$desctop-phones: 1199px;
$footer-phones: 659px;
$desctop-1125: 1125px;
$desctop-1269: 1269px;
$desctop-1040: 1040px;
$desctop-1640: 1640px;
$mobile-350: 350px;
$mobile-365: 365px;
@mixin desctop-1640 {
  @media (max-width: #{$desctop-1640}) {
    @content;
  }
}


@mixin desctop-phones {
  @media (max-width: #{$desctop-phones}) {
    @content;
  }
}




@mixin max-mobile-365 {
  @media (max-width: #{$mobile-365}) {
    @content;
  }
}



@mixin max-mobile-350 {
  @media (max-width: #{$mobile-350}) {
    @content;
  }
}



@mixin max-width-desctop-1040 {
  @media (max-width: #{$desctop-1040}) {
    @content;
  }
}



@mixin max-width-portret-lg {
  @media (max-width: #{$portret-phones-lg}) {
    @content;
  }
}


@mixin desctop-1125 {
  @media (max-width: #{$desctop-1125}) {
    @content;
  }
}




@mixin desctop-1269 {
  @media (max-width: #{$desctop-1269}) {
    @content;
  }
}




@mixin max-width-footer-phones {
  @media (max-width: #{$footer-phones}) {
    @content;
  }
}

@mixin max-width-landscape-phones {
  @media (max-width: #{$landscape-phones}) {
    @content;
  }
}

@mixin max-width-mobile-phones {
  @media (max-width: #{$mobile-phones}) {
    @content;
  }
}

@mixin max-width-desctop {
  @media (max-width: #{$desctop-phones}) {
    @content;
  }
}

@mixin max-width-portret {
  @media (max-width: #{$portret-phones}) {
    @content;
  }
}

@mixin max-width-portret-sm {
  @media (max-width: #{$portret-phones-sm}) {
    @content;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin fluidFontSize($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  font-size: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      font-size: $fallback;
    }
    font-size: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    font-size: $f-max;
  }
}

@mixin fluidLineH($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  line-height: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      line-height: $fallback;
    }
    line-height: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    line-height: $f-max;
  }
}

@mixin marginBottom($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  margin-bottom: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      margin-bottom: $fallback;
    }
    margin-bottom: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    margin-bottom: $f-max;
  }
}

@mixin absRight($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  right: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      right: $fallback;
    }
    right: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    right: $f-max;
  }
}

@mixin absTop($f-min, $f-max, $w-min, $w-max, $fallback: false) {

  top: $f-min;

  @media (min-width: $w-min) {
    @if ($fallback) {
      top: $fallback;
    }
    top: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
  }
  @media (min-width: $w-max) {
    top: $f-max;
  }
}
/*
@include fluidFontSize(20px, 24px, 480px, 1400px, 24px);
  padding-bottom: calc(5.8 * (1vw + 1vh - 1vmin));
  padding-top: calc(5.8 * (1vw + 1vh - 1vmin));
  url('../fonts
 background: url("../images
*/
